<!DOCTYPE html>
<html>
  <head>
    <meta data-n-head="true" charset="utf-8">
    <meta data-n-head="true" hid="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta data-n-head="true" hid="appleMobileWebAppCapable" name="apple-mobile-web-app-capable" content="yes"><meta data-n-head="true" hid="appleMobileWebAppStatusBarStyle" name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta data-n-head="true" hid="appleMobileWebAppTitle" name="apple-mobile-web-app-title" content="">
    <meta name="description" content="フジアンドチェリーのコーポレートサイト。フジアンドチェリーの詳しい会社概要などがご覧いただけます。">
    <meta name="keywords" content="フジアンドチェリー,vr,商社,コーポレイト,サイト,hp,f&c,会社概要,会社情報,企業情報">

    <meta data-n-head="true" hid="ogSiteName" property="og:site_name" content="フジアンドチェリー株式会社">
    <meta data-n-head="true" hid="ogType" property="og:type" content="website">
    <title>フジアンドチェリー株式会社</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application' %>
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
